<div class="message-container">
    <div  class="page-divider">
        <div class="background-black">
                <div class="divider-border"></div>
        </div>
        <div class="divider-image">
            <img src="../../../assets/house.png">
        </div>
        <div class="divider-text">
            <div class="mat-display-2">
                search no more
            </div>
            <div class="mat-display-1">
                for the world of
            </div>
            <div id="main-focus" class="mat-display-2">
                your dreams
            </div>
        </div>
    </div>
    <div class="message">
        <div id="message-title" class="mat-display-3">
            our message
        </div>
        <div class="message-description">
            <div class="vision">
                <div id="vision-title" class="mat-display-1">
                    vision
                </div>
                <div id="vision-description" class="mat-subheading-2">
                    {{data.vision}}
                </div>
            </div>
            <div class="mission">
                <div id="mission-title" class="mat-display-1">
                    mission
                </div>
                <div id="mission-description" class="mat-subheading-2">
                    {{data.mission}}
                </div>
            </div>
        </div>
    </div>
</div>
