<div class="body-main-container">
    <ngx-simplebar #componentRef [options]="options">
        <app-home id="home" [data]= AData.sliders [info]= AData.info></app-home>
        <app-about id="about" [data]= AData.about></app-about>
        <app-values id="values"  [data]= AData.values></app-values>
        <app-message id="message"  [data]= AData.about></app-message>
        <app-brands id="brands"  [data]= AData.brands></app-brands>
        <app-contact id="contact"  [data]= AData.info ></app-contact>
    </ngx-simplebar>
</div>

