*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    overflow: hidden;
}

// #scrollbar .simplebar-scrollbar .simplebar-visible {
//     height: 5rem !important;
//     width: 2rem !important;
//     background-color: red !important;
// }
// .simplebar-track .simplebar-vertical {
//   top: 8rem;
//   left: 9rem;
//   width: 1px;
//   height: 60vh;
//   background-color: #ffffff3b;
//   visibility: visible !important;
// }