.home-container{
    height: 85vh;
    display: flex;
    position: relative;
    justify-content: space-around;
}
#logo img{
    height: 5rem;
    width: 6rem;
    margin: 0 0 0 6rem;
}
.hero-text{
    z-index: 100;
    position: absolute;
    width: 50vw;
    margin: 12rem 0 6rem -3rem;
}
#cursole-images{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0rem 4rem 3rem;
}
#cursole-images .image-container{
    align-self: flex-end;
    padding: 10px;
    border: 1px solid #9e7b34;
    width: 50rem;
    height: 33rem;
}
#cursole-images img{
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.social-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 4rem;
}
.social-links .mat-icon{
    color:#f2f2f2;
    height: 17px;
}
#hero-title{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5rem;
    line-height: 4.5rem;
    margin: 0 0 46px;
}
#hero-subtitle{
    text-transform: capitalize;
    margin: 0 0 100px;
}
#hero-more-action{
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
    div{
        margin-right: 15px;
        cursor: pointer;
    }
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 22px !important; 
}
.owl-theme .owl-dots {
    text-align: end !important;
}
.owl-nav.disabled + .owl-dots {
    margin-top: 22px !important;
}
.owl-dots {
    text-align: end !important;
}